
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    background-color: beige;

}
.cabecera{
    background-color: green;
    color: white;
    padding: 10px 0;
    margin-bottom: 20px;
}
.contenedor-cabecera{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;

}
.logo{
    display: flex;
    align-items: center;
    gap: 15px;
    height: 80px;
}
.logo img{
    height: 100%;
    display: block;
}